
.calendraContainer{
   justify-content: center;
   max-width: 65%;
   margin: auto;
   padding: 3em;
}


.event-calendar a {
  text-decoration:none;
  color:#181718;


}

.event-calendar a:hover {
  opacity:.7;
  color:#f27207;
}

.event-calendar a:hover .title-event {
  transform:translate(5%,0);
  -webkit-transform:translate(5%,0);
  -moz-transform:translate(5%,0);
  
}



.event-calendar ul,
.event-calendar ul li,
.event-calendar h1,
.event-calendar h2
{
  margin:0;
  padding:0;
  list-style:none;
}

.event-calendar .events-body ul li {
  position:relative;
   border-bottom:1px solid #777474;
}
.event-calendar .events-body ul li:last-child {
  border:0;
}

.event-calendar .heading-title {
  padding:10px 20px;
  text-transform:uppercase;
  border-bottom:4px solid #000;
  font-size:.9em;
  position:relative;
  
}

.event-calendar .icon-box {
  position:absolute;
  right:20px;
  top:0;
  bottom:0;
  margin:auto;
  height:30px;
  font-size:1.8em;
}

/* EVENTS LEFT CONTES */
.event-calendar .event-left-content {
  padding:15px 20px;
}




.event-calendar .event-left-content .title-event {
  width:80%;
}

.event-calendar .event-left-content .title-event h2 {
  text-transform:uppercase;
  margin:0;
  padding:0;
}

.event-calendar .event-left-content .event-date {
  font-size:.8em;
}

.event-calendar .event-left-content .event-location {
  text-transform:uppercase;
  font-weight:bold;
  font-size:.8em;
}


/* EVENT ICON HOLDER  */
.event-calendar .event-icon{
  position:absolute;
  width:auto;
  height:50px;
  display:block;
  background:#f27207;
  right:20px;
  top:0;
  bottom:0;
  margin:auto;
  text-align:center;
  color:#fff;
  
  -webkit-border-radius: 8px;
  border-radius: 8px;
  
  padding:2px 10px;
    
}

.event-calendar .event-icon+.month,
.event-calendar .event-icon+.date {
  display:block;
}

.event-calendar .event-icon+.month {
  text-transform:uppercase;
  font-weight:bold;
  font-size:1.1em;
  margin-top:5px
}

.event-calendar .event-icon+.date {
  font-size:1.1em;
  font-weight:bold;
  
}


/* FOR RESPONSIVE ONLY  */
@media only screen and (max-width:480px) {
  .event-calendar {
    width:100%;
    margin:0;
  }
  .event-calendar .heading-title+h1 {
    font-size:1em;
  }
  
  .event-calendar .title-event+h2 {
    font-size:.9em;
  }
  
  .event-calendar .event-left-content .event-date,
  .event-calendar .event-left-content .event-location {
    font-size:.8em;
  }
  
  .Pop_Up_modal {
    width: fit-content;
  }
}


/* --------------------------  News.html       News.html ----------------------- */


.albisteOrokorra {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 5%;
  padding: 3%;

}

.albistea {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 29%;
  margin: auto;
  padding: 1%;

}

.albistea:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.albisteaArgazkia {
  max-width: 100%;
}

.albistea a link {
  text-decoration: none;

}

.albistea a {
  text-decoration: none;
  color: black;

}

.albisteaArgazkia:hover {
  -ms-transform: scale(1.08);
  /* IE 9 */
  -webkit-transform: scale(1.08);
  /* Safari 3-8 */
  transform: scale(1.08);
}

@media only screen and (max-width:600px) {
  
  .albisteOrokorra{
    max-width: 90%;
  }

  .albistea {
    width: 100%;
    margin: 6%;
  }

}


/* ----------------------------  Pop UP Tikets        Pop Up Tikets --------------------------------- */

.Pop_Up_modal {
  max-width: 800px;
  margin: 14% auto;
  padding: 20px;
  color: white;
  background: linear-gradient(-45deg, #f62222, #1356ff, #f62222 , #1356ff);/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 50px;
}

.Pop h1 {
  text-align: center;
  margin-bottom: 40px;
}

.t-event {
  color: #000;
  background-color: rgba(255, 255, 255, 0.778);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.778);
  margin-bottom: 20px;
  padding: 20px;
}

.t-event h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.t-event p {
  font-size: 14px;
  margin-bottom: 10px;
}

.t-event-description {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.ticket-price {
  font-weight: bold;
  font-size: 16px;
}

.buy_ticket {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: #14f53d;
  color: white;
}

.cancel{
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: #de0000;
  color: white;
  margin-left: 70%;
}

@keyframes gradient {
  0% {
      background-position: 30% 60%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 30% 60%;
  }
}

