* {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    margin: auto;
    max-width: 80%;
    padding: 6%;
    padding-bottom: 4%;
    padding-top: 0%;
    background-color: white;
  }
  .container select{
    width: 100%;
    padding: 1.5%;
    margin: 2% 0 2% 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=date]{
    width: 100%;
    padding: 15px;
    margin: 5% 0 22% 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1% solid #f1f1f1;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #e38126;
    color: white;
    padding: 2% 3%;
    margin: 2.5% 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    margin: auto;
    width: 30%;
    height: 5%;
    padding: 2%;
    background-color: #f1f1f1;
    text-align: center;
  }
  input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 1.5% 1.5%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #e38126;
    color: white;
    padding: 2% 3%;
    margin: 1.5% 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    vertical-align: middle;
    padding: 2.5% 3.5%;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 15%;
    border-radius: 50%;
  }
  
  span.psw {
    float: right;
    padding-top: 3.5%;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 600px) {
    span.psw {
       display: flex;
       padding: 3%;
    }

    .container {
      width: 100%;
      padding: 0%;
    }

    .signin {
      width: 60%;
      margin-top: 3%;
    }

    input[type=text], input[type=password], input[type=date] {
      padding: 2% 2%; 
      margin: 1.5% 0;
    }
  }
  


/* ----------------------------  Contact.html         Contact.html --------------------------- */

.contact form {
  width: 50%;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.contat label {
  font-weight: bold;
  margin-right: 10px;
}

.contact input[type="text"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact input[type="submit"] {
  width: 100%;
  background-color: #e38126;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
    opacity: 0.8;
}

.contact select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact input[type="checkbox"] {
  margin: 8px 0;
}
.contact section{
  margin: 2%;
}

#comments{
  resize: none;
  height: 150px;
  width: 100%;
  margin-bottom: 5%;
}

@media screen and (max-width: 600px)  {
  
  .contact form {
    margin: auto;
    width: fit-content;
  }

}

/* ----------------------------------  satisfaction.html      satisfaction.html -------------------------- */


/* .satisfaction form {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

/* .satisfaction label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
} */

/* .satisfaction input[type="text"]{
  width: 96%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.satisfaction input[type="radio"],
.satisfaction input[type="submit"] {
  margin-right: 10px;
  align-items: center;
} */

.satisfaction textarea {
  width: 96%; 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .satisfaction input[type="submit"] {
  width: 100%;
  background-color: #e38126;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .satisfaction input[type="submit"]:hover {
  margin: 8px 0;
} */

.satisfaction input[type="number"] {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  width: 150px;
} 

#rating{
width: 72%;
resize: none;
}
